/*
 * jQuery RefineSlide plugin v0.3
 * Copyright 2012, Alex Dunphy
 * MIT License (http://www.opensource.org/licenses/mit-license.php)
 *
 * Dark theme
 */



.rs-slide-bg {

}

    .rs-slider > li img {
  
    }

/* ===[ Thumbnails ]=== */

.rs-thumb-wrap { margin: 0; }

    .rs-thumb-wrap > a {
        opacity: .7;
        padding: 0;
        transition: opacity .5s ease-in-out;
    }

  

    .rs-thumb-wrap > a:hover,
    .rs-thumb-wrap > a.active { opacity: 1 }

    .rs-thumb-wrap > a:first-child { margin-left: 0!important }

/* ===[ Pager Links ]=== */

.rs-pager-wrap { margin: 0; }

    .rs-pager-wrap > a {
		color: #fff;
		text-align: right;
		text-decoration: none;
		font-size: 10px;
		position: relative;
		overflow: hidden;
		
		padding: 0;
		background-color: rgba(182,182,182,0.85);
		transition: background-color 1s ease;
		
    }
	.rs-pager-wrap > a span {
		display: block;
	}
	.rs-pager-wrap > a .rs-page-link-label { 
		margin-right: 1px;
		padding: 5px;
		padding-right: 0.25em;
		background-color: rgba(182,182,182,0.85);
		transition: background-color 1s ease;
	}
	

	.rs-pager-wrap > a:last-child .rs-page-link-label {
		margin-right: 0;
	}
	
	.rs-pager-wrap > a:hover .rs-page-link-label {
		background-color: rgba(85,85,85,0.85);
		transition: none;
	}
	
	
	.rs-pager-wrap > a.active .rs-page-link-label {
		background-color: rgba(112,112,112,0.85);
		transition: background-color 1s ease;

		background-image: url(../img/carousel/play-pause.png);
		background-repeat: no-repeat;
		background-position: right -19px;
		text-indent: 999em;
		overflow: hidden;
	}

	.rs-pager-wrap > a.active.play .rs-page-link-label {
		background-position: right 5px;
	}




    .rs-pager-wrap > a:first-child { margin-left: 0!important }

	.rs-page-timer {
		overflow: hidden;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 3px;
		padding: 0;
		background-color: #EE1C25;
	}
	


/* ===[ Arrows ]=== */

.rs-arrows { 
	float: left;
	opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.rs-wrap:hover .rs-arrows {
	opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

    .rs-arrows .rs-next,
    .rs-arrows .rs-prev {
        width: 42px;
        height: 42px;
        display: block;
        float: left;
        margin: 10px 0 10px 0;
        position: relative;
/*        text-shadow: 0 -1px 0 #000;*/
        padding: 0 2px 2px 0;
        background: url(../img/black10.png);
        background: rgba(0, 0, 0, .1);
        background: linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 1px 1px rgba(255, 255, 255, 0) inset;
    }

.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 1px 1px rgba(255, 255, 255, .05) inset;
}

.rs-arrows .rs-next:active,
.rs-arrows .rs-prev:active {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset;
}


.rs-arrows .rs-next:before,
.rs-arrows .rs-prev:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 11px;
    left: 16px;
}



/* ===[ Captions ]=== */

.rs-caption {
    padding: 20px;
    color: #fff;
/*    text-shadow: 0 -1px 0 #000;*/
    background: url(../img/black60.png);
    background: rgba(0, 0, 0, .6);
/*    background: linear-gradient(top, rgba(0, 0, 0, .45), rgba(0, 0, 0, .7));*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, .12) inset;
}

.rs-caption {
	position: absolute;
	right: 0;
	bottom: 50px;
	background: rgba(2, 74, 147, .85);
    background: linear-gradient(top, rgba(2, 74, 147, .85), rgba(0, 125, 197, .9));
	
	min-width: 25%;
	max-width: 50%;
}

.rs-caption h1,
.rs-caption h2,
.rs-caption h3,
.rs-caption h4,
.rs-caption p { 
	color: #fff; 
/*	padding:  0 20px; */
	margin-top: 1em;
	min-width: 100px;
}

.rs-caption a {
	color: #fff;
}

.rs-caption h1 { font-size: 32px; line-height: 1em; margin-top: 0 }
.rs-caption h2 { font-size: 16px; }
.rs-caption h3 { font-size: 15px; }
.rs-caption h4 { font-size: 15px; }

    .rs-caption p {
        color: #fff;
        margin-bottom: 0;
		font-size: 15px; 
    }


